<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Ubicación</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="styles/styles.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container col-md-11s" id="mainContainer">
        <div class="row col-md-5" id="navBar"></div>
        <div class="row col-md-8" id="formContainer">
            <div class="row col-md-11 " id="formInfo">
                <h5>Formulario Descuento:</h5>
                <br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque sunt voluptatum suscipit recusandae? Debitis,as!</p>
            </div>
            <div class="form-group col-md-9">
                <strong>Monto del Descuento:</strong>
                <input class=" form-control" type="text" id="montoDescuento" autofocus>
            </div>
            <div class="form-group col-md-9">
                <strong>Naturaleza del Descuento:</strong>
                <input class="form-control" type="text" id="naturalezaDescuento">
            </div>
            <div id="myProgress">
                <div id="myBar"></div>
            </div>
            <div class="col-md-7 " id="btnGroup">
                <input class="btn  btn-outline-success" type="button" id="GuardarBtn" value="Guardar" />
                <input class="btn  btn-outline-danger" type="button" id="EliminarBtn" value="Eliminar" />
            </div>
        </div>
    </div>
    <script src="../Scripts/Ajax.js"></script>
    <script src="../Scripts/jquery.js"></script>
    <script type="text/javascript">

        function nuevoDescuento() {
            Descuento.montoDescuento = document.getElementById('montoDescuento').value;
            Descuento.naturalezaDescuento = document.getElementById('naturalezaDescuento').value;
            guardarDescuento(Descuento);
        }
        function eliminaDescuento() {
            Descuento.montoDescuento = document.getElementById('montoDescuento').value;
            Descuento.naturalezaDescuento = document.getElementById('naturalezaDescuento').value;
            eliminarDescuento(Descuento);
        }
        function activeLi() {
            $('#DES').addClass('activeLi');
        }

        (function () {
            document.getElementById('GuardarBtn').addEventListener('click', nuevoDescuento);
            document.getElementById('EliminarBtn').addEventListener('click', eliminaDescuento);
            document.getElementById('navBar').innerHTML += cargaNavBar();
            activeLi();
        })();
    </script>
</body>
</html>


