<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Identificación Persona</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="styles/styles.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
    <div id="navBar"></div>
    <div class="container" id="mainContainer">
        <img src="img/ux.png" class="col-md-8 img-fluid" alt="Responsive image">
        <div class="row col-md-8" id="formContainer">
            <div class="row col-md-11" id="formInfo">
                <h5>Formulario Identificación de la Persona:</h5>
                <br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque sunt voluptatum suscipit recusandae? Debitis,as!</p>
            </div>
            <div class="form-group col-md-9">
                <strong>Identificación de la Persona: </strong>
                <input class=" form-control" type="text" id="identificacionPersona" autofocus>
            </div>
            <div class="form-group col-md-9">
                <strong>Tipo de identificación: </strong>
                <input class="form-control" type="text" id="tipo">
            </div>
            <div class="col-md-9" id="btnGroup">
                <input class="btn  btn-outline-success" type="button" id="GuardarBtn" value="Guardar" />
                <input class="btn  btn-outline-warning" type="button" id="ModificaBtn" value="Modificar" />
                <input class="btn  btn-outline-danger" type="button" id="EliminarBtn" value="Eliminar" />
                <input class="btn  btn-light" type="button" id="BorrarBtn" value="Borrar" />
            </div>
        </div>
    </div>
    <div id="myProgress">
        <div id="myBar"></div>
    </div>
    <div class="accordion" id="accordionExample">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Ver Identificaciones Guardadas
                </button>
            </h2>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="table-responsive">
                <table class="table text-center table-borderless" id="tabla">
                </table>
            </div>
        </div>
    </div>
    <script src="../Scripts/Ajax.js"></script>
    <script src="../Scripts/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script type="text/javascript">
        function nuevoidPersona() {
            idPersona.identificacionPersona = document.getElementById('identificacionPersona').value;
            idPersona.tipo = document.getElementById('tipo').value;
            globalFunction('identificacionPersona', 1, idPersona);
        }
        function eliminaidPersona() {
            idPersona.identificacionPersona = document.getElementById('identificacionPersona').value;
            globalFunction('identificacionPersona', 2, idPersona);
        }
        function modificaidPersona() {
            idPersona.identificacionPersona = document.getElementById('identificacionPersona').value;
            idPersona.tipo = document.getElementById('tipo').value;
            globalFunction('identificacionPersona', 0, idPersona);
        }
        function activeLi() {
            $('#IDR').addClass('activeLi');
        }

        (function () {
            document.getElementById('navBar').innerHTML += cargaNavBar();
            activeLi();
            cargaridPersona();
            document.getElementById('GuardarBtn').addEventListener('click', nuevoidPersona);
            document.getElementById('EliminarBtn').addEventListener('click', eliminaidPersona);
            document.getElementById('ModificaBtn').addEventListener('click', modificaidPersona);
            document.getElementById('BorrarBtn').addEventListener('click', eliminaValores); 
            document.getElementById('identificacionPersona').addEventListener('keypress', habilitaGuardar);
        })();

        function cargaDatosFormulario(objetoSerializado) {
            eliminaValores();
            habilitaGuardar();
            document.getElementById('identificacionPersona').value = objetoSerializado.identificacionPersona1;
            document.getElementById('tipo').value = objetoSerializado.Tipo1;
            desabilitaGuardar();
        }
        function verificaEliminar(id) {
            var respuesta = window.confirm(`Desea Eliminar la Identificación  : ${id}`);
            if (respuesta) {
                idPersona.identificacionPersona = id;
                globalFunction('identificacionPersona', 2, idPersona);
                habilitaGuardar();
            }
            else {
                alert('No se ha Realizado Ninguna Acción');
            }
        }
    </script>
</body>
</html>

