    <!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8" />
            <title>Ubicación</title>
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
                    <link href="styles/styles.css" rel="stylesheet" />
                    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
                </head>
                <body>
                <div class="container col-md-11s" id="mainContainer">
                    <ul class="row col-md-4  " id="olMenu">
                        <li class=" liMenu list-group-item list-group-item-action">
                            <span class="material-icons spanMenu">home</span>
                            <a href="Index.html" class="aMenu">Menú</a>
                        </li>
                        <li class=" liMenu list-group-item list-group-item-action activeLi">
                            <span class="material-icons spanMenu">place</span>
                            <a href="Ubicacion.html" class="aMenu">Ubicacion</a>
                        </li>
                        <li class=" liMenu list-group-item list-group-item-action">
                            <span class="material-icons spanMenu">monetization_on</span>
                            <a href="CodigoTipoMoneda.html" class="aMenu">Codigo Tipo Moneda</a>
                        </li>
                        <li class=" liMenu list-group-item list-group-item-action">
                            <span class="material-icons spanMenu">redeem</span>
                            <a href="Descuento.html" class="aMenu">Descuento</a>
                        </li>
                        <li class=" liMenu list-group-item list-group-item-action">
                            <span class="material-icons spanMenu">done</span>
                            <a href="Exoneracion.html" class="aMenu">Exoneración</a>
                        </li>
                        <li class=" liMenu list-group-item list-group-item-action">
                            <span class="material-icons spanMenu">printer</span>
                            <a href="Fax.html" class="aMenu">Fax</a>
                        </li>
                        <li class=" liMenu list-group-item list-group-item-action">
                            <span class="material-icons spanMenu">contact_mail</span>
                            <a href="IdentificacionReceptor.html" class="aMenu">Indentificación Receptor</a>
                        </li>
                        <li class=" liMenu list-group-item list-group-item-action">
                            <span class="material-icons spanMenu">contact_phone</span>
                            <a href="IdentificacionEmisor.html" class="aMenu">Indentificación Emisor</a>
                        </li>
                        <li class=" liMenu list-group-item list-group-item-action">
                            <span class="material-icons spanMenu">phone</span>
                            <a href="Telefono.html" class="aMenu">Teléfono</a>
                        </li>
                        <li class=" liMenu list-group-item list-group-item-action">
                            <span class="material-icons spanMenu">article</span>
                            <a href="TipoDocumento.html" class="aMenu">Tipo de Documento</a>
                        </li>
                        <li class=" liMenu list-group-item list-group-item-action">
                            <span class="material-icons spanMenu">vpn_key</span>
                            <a href="CodigoComercial.html" class="aMenu">Código Comercial</a>
                        </li>
                    </ul>
                    
                    <div class="row col-md-8" id="formContainer">
                        <div class="row col-md-11 " id="formInfo">
                            <h5>Formulario Ubicacion:</h5> <br>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque sunt voluptatum suscipit recusandae? Debitis,as!</p>
                        </div>
                        <div class="form-group col-md-9">
                            <strong>Id:</strong>
                            <input class="form-control x" type="text" id="idUbicacion"  autofocus>
                            </div>
                            <div class="form-group col-md-9">
                                <strong>Provincia:</strong>
                                <input class= "form-control x" type="text" id="Provincia" >
                                </div>
                                <div class="form-group col-md-9">
                                    <strong>Cantón:</strong>
                                    <input class=" form-control x" type="text" id="Canton">
                                    </div>
                                    <div class="form-group col-md-9">
                                        <strong>Distrito:</strong>
                                        <input class=" form-control x" type="text" id="Distrito" >
                                        </div>
                                        <div class="form-group col-md-9">
                                            <strong>Barrio:</strong>
                                            <input class=" form-control x " type="text" id="Barrio">
                                            </div>
                                            <div class="form-group col-md-9">
                                                <strong>Otras Senas:</strong>
                                                <textarea class="form-control x" type="textarea" id="otrasSenas"></textarea>
                                            </div>

                                            <div class="col-md-7 " id="btnGroup" >
                                                <input class="btn  btn-outline-success" type="button" id="GuardarBtn" value="Guardar" />
                                                <input class="btn  btn-outline-warning" type="button" id="ModificaBtn" value="Modificar" />
                                                <input class="btn  btn-outline-danger" type="button" id="EliminarBtn" value="Eliminar" />
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    


                
                                
    <script src="../Scripts/Ajax.js"></script>
    <script src="../Scripts/jquery.js"></script>
    <script type="text/javascript">
        function nuevaUbicacion() {
            Ubicacion.idUbicacion = document.getElementById('idUbicacion').value;
            Ubicacion.Provincia = document.getElementById('Provincia').value;
            Ubicacion.Canton = document.getElementById('Canton').value;
            Ubicacion.Distrito = document.getElementById('Distrito').value;
            Ubicacion.Barrio = document.getElementById('Barrio').value;
            Ubicacion.otrasSenas = document.getElementById('otrasSenas').value;

            guardarUbicacion(Ubicacion);
            }           
        function eliminaUbicacion() {
            Ubicacion.idUbicacion = document.getElementById('idUbicacion').value;

             eliminarUbicacion(Ubicacion);
            }
        function modificaUbicacion() {
                Ubicacion.idUbicacion = document.getElementById('idUbicacion').value;
                Ubicacion.Provincia = document.getElementById('Provincia').value;
                Ubicacion.Canton = document.getElementById('Canton').value;
                Ubicacion.Distrito = document.getElementById('Distrito').value;
                Ubicacion.Barrio = document.getElementById('Barrio').value;
                Ubicacion.otrasSenas = document.getElementById('otrasSenas').value;

               modificarUbicacion(Ubicacion);
            }

            (function () {
                document.getElementById('GuardarBtn').addEventListener('click', nuevaUbicacion);
                document.getElementById('EliminarBtn').addEventListener('click', eliminaUbicacion);
                document.getElementById('ModificaBtn').addEventListener('click', modificaUbicacion);
            })();
        </script>
    </body>
    </html>