<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Ubicación</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="styles/styles.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
    <div id="navBar"></div>
    <div class="container" id="mainContainer">
        <img src="img/ux.png" class="col-md-8 img-fluid" alt="Responsive image">
        <div class="row col-md-8" id="formContainer">
            <div class="row col-md-11" id="formInfo">
                <h5>Formulario Ubicación:</h5>
                <br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque sunt voluptatum suscipit recusandae? Debitis,as!</p>
            </div>
            <div class="form-group col-md-9">
                <strong>Id:</strong>
                <input class="form-control" type="text" id="idUbicacion" autofocus>
            </div>
            <div class="form-group col-md-9">
                <strong>Provincia:</strong>
                <input class="form-control" type="text" id="Provincia">
            </div>
            <div class="form-group col-md-9">
                <strong>Cantón:</strong>
                <input class=" form-control" type="text" id="Canton">
            </div>
            <div class="form-group col-md-9">
                <strong>Distrito:</strong>
                <input class=" form-control x" type="text" id="Distrito">
            </div>
            <div class="form-group col-md-9">
                <strong>Barrio:</strong>
                <input class=" form-control" type="text" id="Barrio">
            </div>
            <div class="form-group col-md-9">
                <strong>Otras Senas:</strong>
                <textarea class="form-control" type="textarea" id="otrasSenas"></textarea>
            </div>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button>

            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        ...
                    </div>
                </div>
            </div>
            <div id="mostrarProgreso">

            </div>
            <div id="myProgress">
                <div id="myBar"></div>
            </div>
            <div class="col-md-7 " id="btnGroup">
            </div>
        </div>
    </div>
    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Ver Ubicaciones
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="table-responsive">
                    <table class="table text-center table-bordered" id="tabla">
                    
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="../Scripts/Ajax.js"></script>
    <script src="../Scripts/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript">

        function activeLi() {
            $('#UB').addClass('activeLi');
        }
        function nuevaUbicacion() {
            Ubicacion.idUbicacion = document.getElementById('idUbicacion').value;
            Ubicacion.Provincia = document.getElementById('Provincia').value;
            Ubicacion.Canton = document.getElementById('Canton').value;
            Ubicacion.Distrito = document.getElementById('Distrito').value;
            Ubicacion.Barrio = document.getElementById('Barrio').value;
            Ubicacion.otrasSenas = document.getElementById('otrasSenas').value;

            guardarUbicacion(Ubicacion);
        }
        function eliminaUbicacion() {
            Ubicacion.idUbicacion = document.getElementById('idUbicacion').value;

            eliminarUbicacion(Ubicacion);
        }
        function modificaUbicacion() {
            Ubicacion.idUbicacion = document.getElementById('idUbicacion').value;
            Ubicacion.Provincia = document.getElementById('Provincia').value;
            Ubicacion.Canton = document.getElementById('Canton').value;
            Ubicacion.Distrito = document.getElementById('Distrito').value;
            Ubicacion.Barrio = document.getElementById('Barrio').value;
            Ubicacion.otrasSenas = document.getElementById('otrasSenas').value;

            modificarUbicacion(Ubicacion);
        }
        (function () {
            document.getElementById('navBar').innerHTML += cargaNavBar();
            activeLi();
            botones();
            cargarUbicacion();
            document.getElementById('GuardarBtn').addEventListener('click', nuevaUbicacion);
            document.getElementById('EliminarBtn').addEventListener('click', eliminaUbicacion);
            document.getElementById('ModificaBtn').addEventListener('click', modificaUbicacion);   
            document.getElementById('idUbicacion').addEventListener('keypress', habilitaGuardar);      
        })();
        function cargaDatosFormulario(objetoSerializado) {
            eliminaValores();
            habilitaGuardar();  
            document.getElementById('idUbicacion').value = objetoSerializado.IdUbicacion1;
            document.getElementById('Provincia').value = objetoSerializado.Provincia1;
            document.getElementById('Canton').value = objetoSerializado.Canton1;
            document.getElementById('Distrito').value = objetoSerializado.Distrito1;
            document.getElementById('Barrio').value = objetoSerializado.Barrio1;
            document.getElementById('otrasSenas').value = objetoSerializado.OtrasSenas1; 
            desabilitaGuardar();
        }
        function verificaEliminar(id) {
            var respuesta = window.confirm(`Desea Eliminar la Ubicación con el id : ${id}`);
            if (respuesta) {         
                Ubicacion.idUbicacion = id;
                eliminarUbicacion(Ubicacion);
                habilitaGuardar();  
            }
            else {               
                alert('No se ha Realizado Ninguna Acción');
            }
        }
    </script>
</body>
</html>









