* {
    padding: 0;
    margin: 0
}

body {
    background: #e2ebf4;
    box-shadow: -26px -26px 100px #c2cad2, 26px 26px 100px #ffffff;
    font-family: 'Poppins', sans-serif;

}

#mainContainer {
    margin-top: 7vh;
    padding: 2vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1pc
}

#formContainer {
    display: flex;
    min-height: inherit;
    height: inherit;
    align-items: center;
    color: #B4B4B4;
    justify-content: center
}

#formInfo {
    margin: 2vh 0vh 2vh 0vh;
    height: auto;
    align-items: center;
    justify-content: center;
    color: #66a3fc;
    text-align: center
}

.form-group {
    background: none;
    margin-top: 2vh
}

.form-control {
    border: none;
    margin-top: 2vh;
    color: black;
    border-radius: 10px;
    background: #f1f5fe;
    box-shadow: 7px 7px 15px #c8cbd3, -7px -7px 15px #ffffff
}

#myProgress {
    width: 100%;
    background-color: #ddd;
    visibility: hidden;
    margin-top: 3vh
}

#myBar {
    width: 1%;
    height: 30px;
    background-color: #52b4ff;
    color: #050606
}

#btnGroup {
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    margin-top: 2vh;
    align-items: center;
}

.activeLi {
    border-bottom: 1px solid #66a3fc;
}

nav {
    display:flex;
    flex-direction:row-reverse;
    background: #e2ebf4;
    box-shadow: -26px -26px 100px #c2cad2, 26px 26px 100px #ffffff
}

.navbar-brand {
    border:1px solid black;
    padding:4px 10px 4px 10px;
    box-sizing:border-box;
    border-radius:40px;
}
    .navbar-brand:hover {
        background: rgb(220,220,220);
        opacity:0.9;
        transition:0.4s;
    }

.ulMenu {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }

.liMenu {
    display: flex;
    justify-content: center
}

.liMenu > a {
        color: #798696;
        text-decoration: none
    }

.liMenu > a:hover {
            transition: 0.3s;
            color: #66a3fc
        }

.spanMenu {
    margin-right: 1vh;
    display: none;
    color: #6ea1fd
}


@media screen and (max-width: 991px) {
    .spanMenu {
        position: static;
        visibility: visible;
        display: inline-block;
        z-index: 0
    }

    .liMenu {
        font-size:1pc;
        font-weight:bold;
        display: normal;
        justify-content: normal;
        align-items: center;
        margin-top: 1vh;
        height: 5vh
    }

    .img-fluid {
        display: none
    }
}
