*{
    padding:0;
    margin: 0;

}
body{
    border-radius: 50px;
background: #050606;
box-shadow:  1px 1px 2px #0e0e0e, 
             -1px -1px 2px #161616;
}
#mainContainer{
    margin-top: 4vh;
    margin-bottom: 4vh;
    padding: 2vh;
    height: auto;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
#formContainer{
    display: flex ;
    min-height: inherit;
    height: inherit;
    align-items: center;
    color: #B4B4B4;
    justify-content:center;   

}
.liMenu{
    justify-content:flex-start ;
    display: flex;
    align-self: center;
    border-radius: 8px;
    background: #1c1c1c;
    box-shadow: inset -5px -5px 10px #1b1b1b, 
    inset 5px 5px 10px #1d1d1d;
    margin-top: 2vh;
}

#olMenu{
    justify-content: flex-start;
    display: flex;
    height: auto;
    box-sizing: border-box;
    padding: 2vh;
    align-self:center;
    align-items: center;
    margin-right: 16vh;
}
.spanMenu{
    position: relative;
    width: 5vh;
    margin-right: 2vh;
    border-radius: 8px;
    color: #ff5900;
}
.aMenu{
    color: #B4B4B4;
    background: none;
    font-weight: bold;
}
.menuBtn{
    color: #B4B4B4;
    font-weight: bold;
}
#formInfo{
    height: auto;
    align-items: center;
    justify-content: center;
    color: #B4B4B4;
}
.form-control{
    border: none;
    margin-top: 2vh;
    background: none;
    border-radius: 8px;
    color:#1d1d1d;
    background: linear-gradient(360deg, #1d1e1f, #18191a);
    box-shadow:  -5px -5px 10px #1a1b1c, 
                 5px 5px 10px #1c1d1e;
}
.form-group{
    background: none;
}
#btnGroup{
    display: flex;
    justify-content: space-evenly;
    align-self:center;
    margin-top: 4vh;
    align-items: center;
}
